* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: rgb(255, 227, 176);
}

h1{
  margin: 20px 0px;
  text-align: center;
}

main{
  background-color: white;
  width: 500px;
  height: 500px;
  padding: 20px;
  border-radius: 8px;
  -webkit-box-shadow: 10px 7px 26px -2px rgba(0,0,0,0.16);
  -moz-box-shadow: 10px 7px 26px -2px rgba(0,0,0,0.16);
  box-shadow: 10px 7px 26px -2px rgba(0,0,0,0.16);
  margin: auto;

}

main div img{
  height: 350px;
  width: 350px;
  border-radius: 50%;
  object-fit: cover;
}